<div class="m-auto w-11/12 dark:text-white">
  <div class="m-auto w-9/12">
    <h2 class="my-6 text-center text-4xl font-bold">
      Nossos produtos químicos
    </h2>
    <p class="my-6 mb-12 text-center text-xl">
      Nossa linha de produtos é completa, de alta performance, sempre atualizada
      com as inovações que o mercado demanda. Apresentam custos competitivos e
      possuem todas as documentações exigidas pelos órgãos regulatórios.
    </p>
  </div>
  <div>
    <img
      src="../../../assets/produtos-quimicos.webp"
      alt="foto de produtos químicos"
      class="m-auto h-full w-full rounded-xl shadow-xl shadow-neutral-600 dark:shadow-neutral-900"
    />
  </div>
  <div class="m-auto mt-10 w-9/12">
    <ul
      class="grid list-disc grid-cols-1 gap-12 text-base font-semibold md:grid-cols-2 lg:grid-cols-3"
    >
      <li>
        Registrados na Anvisa -
        <span class="font-normal"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
        >
      </li>
      <li>
        Alta performance -
        <span class="font-normal"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
        >
      </li>
      <li>
        Concentrados com alto rendimento -
        <span class="font-normal"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
        >
      </li>
      <li>
        Linha completa -
        <span class="font-normal"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
        >
      </li>
      <li>
        Biodegradáveis -
        <span class="font-normal"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
        >
      </li>
    </ul>
  </div>
</div>
