<section class="divide-y divide-zinc-300">
  <div class="flex justify-center text-2xl font-semibold">
    <span class="">Frequently Asked Questions</span>
  </div>
  <div>
    <div class="flex place-content-between mt-4 w-80 mx-auto">
      <p>faqs works!</p>
        <button onclick="myFunction(this)" class="container w-max">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </button>
    </div>
    <div>
      <p class="w-80 mx-auto mt-2">faqs works 2</p>
    </div>
  </div>
  <div>
    <div class="flex place-content-between mt-4 w-80 mx-auto">
      <p>faqs works!</p>
        <button onclick="myFunction(this)" class="container w-max">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </button>
    </div>
    <div>
      <p class="w-80 mx-auto mt-2">faqs works 2</p>
    </div>
  </div>
  <div>
    <div class="flex place-content-between mt-4 w-80 mx-auto">
      <p>faqs works!</p>
        <button onclick="myFunction(this)" class="container w-max">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </button>
    </div>
    <div>
      <p class="w-80 mx-auto mt-2">faqs works 2</p>
    </div>
  </div>
  <div>
    <div class="flex place-content-between mt-4 w-80 mx-auto">
      <p>faqs works!</p>
        <button onclick="myFunction(this)" class="container w-max">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </button>
    </div>
    <div>
      <p class="w-80 mx-auto mt-2">faqs works 2</p>
    </div>
  </div>
</section>
