<app-navigation></app-navigation>
<section
  class="my-10 divide-y divide-gray-200 px-4 text-black sm:px-6 lg:px-60 dark:divide-gray-700 dark:text-gray-300"
>
  <div class="text-center">
    <h1 class="py-20 text-3xl font-extrabold dark:text-gray-100">
      Frequently Asked Questions
    </h1>
  </div>

  @for (faq of faqs; track faq.id) {
    <div class="px-1">
      <button
        class="mb-6 flex w-full items-center justify-between space-x-2 pt-6"
        (click)="toggleDescription(faq.id)"
      >
        <p class="text-start text-lg font-semibold dark:text-white">
          {{ faq.question }}
        </p>
        <div>
          <div
            class="w-[1.50px] h-3 rounded bg-black dark:bg-white duration-500 transform-gpu transition-transform translate-x-[5.25px] {{
              faq.isOpen ? 'rotate-90' : ''
            }}"
          ></div>
          <div
            class="w-3 h-[1.50px] rounded bg-black dark:bg-white duration-500 transform-gpu transition-all -translate-y-[7px] {{
              faq.isOpen ? 'rotate-90 opacity-0' : 'opacity-100'
            }}"
          ></div>
        </div>
      </button>
      <div
        class="transform-gpu duration-500 transition-all origin-top {{
          faq.isOpen ? 'h-34 md:h-24' : ' scale-0 h-0 opacity-0'
        }}"
      >
        <p class="mb-6 me-7 font-normal">
          {{ faq.answer }}
        </p>
      </div>
    </div>
  }
</section>
<app-footer></app-footer>
