<div class="m-auto w-11/12 dark:text-white">
  <div class="m-auto w-9/12">
    <h2 class="my-6 text-center text-3xl font-bold">
      Nossos Produtos Químicos
    </h2>
    <p class="my-6 mb-12 text-center text-xl">
      Nossa linha de produtos é completa, de alta performance, sempre atualizada
      com as inovações que o mercado demanda. Apresentam custos competitivos e
      possuem todas as documentações exigidas pelos órgãos regulatórios.
    </p>
  </div>
  <div>
    <img class="h-full w-screen object-cover lg:h-full" ngSrc="/assets/services/produtos.webp"
      ngSrcset="640w, 768w, 1024w, 1280w, 1536w" alt="Imagem para a tela de content" height="100" width="100" />
  </div>
  <div class="m-auto mt-10 w-9/12">
    <ul class="grid list-disc grid-cols-1 gap-12 text-base font-semibold md:grid-cols-2 lg:grid-cols-3">
      <li>
        Registrados na Anvisa
      </li>
      <li>
        Alta performance
      </li>
      <li>
        Concentrados com alto rendimento
      </li>
      <li>
        Linha completa
      </li>
      <li>
        Biodegradáveis
      </li>
    </ul>
  </div>
</div>
