<div class="max-w-7xl m-auto px-2 sm:px-6 lg:px-8">
  <section class="mx-2 md:mx-10"><!---->
    <div class="flex flex-col">
      <div class="flex">
        <div class="bg-indigo-600 w-1.5 h-1.5 rounded-full mt-2.5 mb-2 mx-1"></div>
        <h2 class="text-indigo-600 font-bold">1 - CONHECER O CLIENTE</h2>
      </div>
      <div class="flex items-stretch">
        <div class="bg-gray-300 w-0.5 mx-1.5"></div>
        <div>
          <span class="font-semibold">Ouvir seus objetivos e desafios</span>
          <ul class="list-disc ms-6 mb-8">
            <li>Observar os procedimentos</li>
            <li>Analizar os resultados</li>
            <li>Verificaros produtos e equipamentos</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="w-4">
        <div class="bg-indigo-600 w-1.5 h-1.5 rounded-full mt-2.5 mb-2 mx-1"></div>
        <div class="bg-gray-300 h-full w-0.5 mx-1.5"></div>
      </div>
      <div>
        <h2 class="text-indigo-600 font-bold">2 - FIRMAR PARCERIA</h2>
        <span class="font-semibold">Para vencer seus maiores desafios</span>
        <ul class="list-disc ms-6 mb-8">
          <li>Fale com o seu Personal Cleaner</li>
          <li>Determine juntos um plano de ação</li>
        </ul>
      </div>
    </div>
    <div class="flex">
      <div class="w-4">
        <div class="bg-indigo-600 w-1.5 h-1.5 rounded-full mt-2.5 mb-2 mx-1"></div>
        <div class="bg-gray-300 h-full w-0.5 mx-1.5"></div>
      </div>
      <div>
        <h2 class="text-indigo-600 font-bold">IMPLEMENTAR</h2>
        <span class="font-semibold">Programa de higienização</span>
        <ul class="list-disc ms-6 mb-8">
          <li>Procedimentos corretos</li>
          <li>Produtos e equipamentos ideias</li>
        </ul>
      </div>
    </div>
    <div class="flex">
      <div class="w-4">
        <div class="bg-indigo-600 w-1.5 h-1.5 rounded-full mt-2.5 mb-2 mx-1"></div>
        <div class="bg-gray-300 h-full w-0.5 mx-1.5"></div>
      </div>
      <div>
        <h2 class="text-indigo-600 font-bold">TREINAMENTO</h2>
        <span class="font-semibold">Para eficiência operacional e satisfação de seu cliente</span>
        <ul class="list-disc ms-6 mb-8">
          <li>Processos eficientes usando as soluções certas</li>
          <li>Segurança no local de trabalho</li>
          <li>Minimize o despedício de químicos, água, energia e papéis</li>
        </ul>
      </div>
    </div>
    <div class="flex">
      <div class="w-4">
        <div class="bg-indigo-600 w-1.5 h-1.5 rounded-full mt-2.5 mb-2 mx-1"></div>
        <div class="bg-gray-300 h-full w-0.5 mx-1.5"></div>
      </div>
      <div>
        <h2 class="text-indigo-600 font-bold">AVALIAÇÃO E REVISÃO</h2>
        <span class="font-semibold">Progresso em relação aos planos implementados</span>
        <ul class="list-disc ms-6 mb-8">
          <li>Revisar resultados e progresso</li>
          <li>Ajustar o programa conforme necessário</li>
        </ul>
      </div>
    </div>
  </section>
</div>
