<div class="bg-neutral-50 text-neutral-950">
  <img
    class="w-screen"
    src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&blend=6366F1&sat=-100&blend-mode=multiply"
    alt=""
  />
  <p class="text-1xl mx-8 font-sans font-medium text-purple-700">
    Suporte a todo momento
  </p>
  <p class="mx-8 font-sans text-2xl font-bold">Estamos aqui para te ajudar</p>
  <br />
  <p class="mx-8 font-sans text-sm font-bold">
    Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet
    amet volutpat quisque ut interdum tincidunt duis. Nossa empresa faz de tudo
    para atender os clientes da melhor forma possivel. Por isso dedicamos essa
    area exclusiva para te atender!
  </p>
  <br />
  <div class="align-center flex justify-center">
    <button
      class="rounded-md border border-gray-900 px-4 py-1 text-sm font-semibold text-gray-700 hover:border-transparent hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2"
    >
      Visitar central de ajuda
    </button>
  </div>
</div>

<div class="h-32"></div>

<div class="bg-neutral-50 text-neutral-950">
  <p class="mx-8 font-sans text-2xl font-bold">
    Pronto para se juntar? Comece seu teste grátis hoje.
  </p>
  <br />
  <div class="align-center mx-20 flex justify-center">
    <button
      class="mr-5 rounded-md border border-gray-900 px-4 py-1 text-sm font-semibold text-gray-700 hover:border-transparent hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2"
    >
      Iniciar
    </button>
    <button
      type="button"
      class="inline-flex items-center rounded-lg bg-transparent px-2 py-1.5 text-center text-sm font-medium text-gray-700 hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-transparent dark:hover:bg-gray-700 dark:focus:ring-blue-800"
    >
      Saiba mais
      <svg
        class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </button>
  </div>
</div>
