<section class="my-10">
  <div class="dark:text-neutral-100 text-4xl text-center font-bold">
    <h2>Áreas de atuação</h2>
  </div>
  <div
    class="grid snap-x snap-mandatory grid-flow-col gap-6 overflow-auto p-10"
  >
    @for (segment of segments; track segment.id) {
      <div class="snap-center snap-always first:ml-32 last:mr-32">
        <app-cta
          [title]="segment.title"
          [content]="segment.content"
          [image]="segment.image"
          [subtitle]="segment.subtitle"
          [color]="segment.color"
        />
      </div>
    }
  </div>
</section>
