<!-- <section class="bg-cover bg-fixed bg-center" style="background-image: url(/assets/hero.jpg)">
  <div
    class="flex h-[94vh] w-auto flex-col items-center justify-center space-y-6 bg-white/50 p-4 text-center text-black md:h-[89vh] dark:bg-black/50 dark:text-white">
    <h2 class="text-4xl font-bold sm:text-6xl">
      Olá, somos a Personal Cleaner!
    </h2>

    <h3 class="text-xl text-gray-800 dark:text-gray-300">
      Oferecemos souluções customizadas de Higiene e Limpeza profissional!
    </h3>

    <a routerLink="/"
      class="rounded-md bg-indigo-600 px-4 py-3 text-sm text-white backdrop-blur-2xl hover:bg-indigo-500 dark:bg-gray-800/50 dark:hover:bg-gray-700/50"
      target="_blank">
      Conheça nosso programa de higiene e limpeza
    </a>
  </div>
</section> -->

<section class="h-screen relative">
  <img ngSrc="/assets/hero.jpg" class="object-cover object-center" alt="Child washing hands on sink" fill priority>

  <div
    class="absolute min-h-full min-w-full flex flex-col items-center justify-center space-y-6 bg-white/50 p-4 text-center text-black md:h-[89vh] dark:bg-black/50 dark:text-white">
    <h2 class="text-4xl font-bold sm:text-6xl">
      Olá, somos a Personal Cleaner!
    </h2>

    <h3 class="text-xl text-gray-800 dark:text-gray-300">
      Oferecemos souluções customizadas de Higiene e Limpeza profissional!
    </h3>

    <a routerLink="/"
      class="rounded-md bg-indigo-600 px-4 py-3 text-sm text-white backdrop-blur-2xl hover:bg-indigo-500 dark:bg-gray-800/50 dark:hover:bg-gray-700/50">
      Conheça nosso programa de higiene e limpeza
    </a>
  </div>
</section>
