<section class="bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply)">

    <div class= "py-32 sm:py-48 md:py-56 text-white text-center flex flex-col justify-between w-full">
        <h3 class="text-4xl sm:text-6xl mx-auto sm:mt-32 font-bold"> Olá somos a Personal Cleaner!</h3>
        <h2 class="text-lg mx-auto mt-6"> Oferecemos souluções customizadas de Higiene e Limpeza profissional!</h2>
        <a routerLink="/" class="mx-auto mt-10 sm:mb-32 text-sm rounded-md bg-indigo-600 text-white hover:bg-indigo-500 dark:bg-gray-800 dark:hover:bg-gray-700"> Conheça nosso programa de higiene e limpeza </a>
    </div>


</section>