<section
  class="bg-cover bg-center"
  style="
    background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply);
  "
>
  <div
    class="flex w-full flex-col justify-between py-32 text-center text-white sm:py-48 md:py-56"
  >
    <h3 class="mx-auto text-4xl font-bold sm:mt-32 sm:text-6xl">
      Olá somos a Personal Cleaner!
    </h3>
    <h2 class="mx-auto mt-6 text-lg">
      Oferecemos souluções customizadas de Higiene e Limpeza profissional!
    </h2>
    <a
      routerLink="/"
      class="mx-auto mt-10 rounded-md bg-indigo-600 text-sm text-white hover:bg-indigo-500 dark:bg-gray-800 dark:hover:bg-gray-700 sm:mb-32"
      target="_blank"
    >
      Conheça nosso programa de higiene e limpeza
    </a>
  </div>
</section>
