<main class="w-11/12 m-auto dark:text-white">
  <div class="w-9/12 m-auto">
    <h1 class="text-center font-bold text-4xl my-6">Nossos produtos químicos</h1>
    <p class="my-6 mb-12 text-xl text-center">Nossa linha de produtos é completa, de alta performance, sempre atualizada com as inovações que o mercado demanda. Apresentam custos competitivos e possuem todas as documentações exigidas pelos órgãos regulatórios.</p>
  </div>
  <div>
    <img src="../../../assets/produtos-quimicos.jpg" alt="foto de produtos químicos" class="shadow-neutral-600 dark:shadow-neutral-900 shadow-xl m-auto rounded-xl h-full w-full">
  </div>
  <div class="mt-10 w-9/12 m-auto">
    <ul class="grid grid-cols-1 gap-12 font-semibold text-base md:grid-cols-2 lg:grid-cols-3 list-disc">
      <li>Registrados na Anvisa - <span class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
      <li>Alta performance - <span class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
      <li>Concentrados com alto rendimento - <span class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
      <li>Linha completa - <span class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
      <li>Biodegradáveis - <span class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
    </ul>
  </div>
</main>
