<section class="relative h-screen">
  <img
    ngSrc="/assets/hero.webp"
    ngSrcset="640w, 768w, 1024w, 1280w, 1536w"
    sizes="100vw"
    class="object-cover object-center"
    alt="Child washing hands on sink"
    fill
    priority
  />

  <div
    class="absolute flex min-h-full min-w-full flex-col items-center justify-center space-y-6 bg-white/50 p-4 text-center text-black md:h-[89vh] dark:bg-black/50 dark:text-white"
  >
    <h2 class="text-4xl font-bold sm:text-6xl">
      Olá, somos a Personal Cleaner!
    </h2>

    <h3 class="text-xl text-gray-800 dark:text-gray-300">
      Oferecemos soluções customizadas de Higiene e Limpeza profissional!
    </h3>

    <a
      routerLink="/service/implementation"
      class="rounded-md bg-indigo-600 px-4 py-3 text-sm text-white backdrop-blur-2xl hover:bg-indigo-500 dark:bg-gray-800/50 dark:hover:bg-gray-700/50"
    >
      Conheça nosso programa de higiene
    </a>
  </div>
</section>
