<main class="m-auto my-10 w-11/12">
  <div class="flex justify-center">
    <div>

      <button type="button" id="btn-produtos" class="border-indigo-600 border-2 hover:bg-indigo-600 dark:text-neutral-50 hover:text-neutral-50 p-2 rounded-md mr-8">Gerais</button>
      <button type="button" id="btn-chemicals" class="border-indigo-600 border-2 hover:bg-indigo-600 dark:text-neutral-50 hover:text-neutral-50 p-2 rounded-md">Químicos</button>
      @if ('') {}
    </div>
  </div>
  <app-chemicals/>
  <!--Section 1 - Papéis-->
  <app-papers-products />
  <!--Section 2 - materiais de apoio-->
  <app-support-products />
</main>
