<main class="m-auto w-11/12 text-3xl">
  <h1 class="my-6 font-black">Nossos Produtos</h1>
  <div>
    <h2 class="my-6 text-2xl font-bold lg:text-xl">Papéis</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div>
        <div
          style="
            background-image: url('https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg');
          "
          class="relative h-96 overflow-hidden rounded-lg bg-cover bg-center lg:h-64"
        >
          <div
            class="h-full w-full bg-gradient-to-t from-neutral-800/60 from-0% via-neutral-600/20 via-20% to-neutral-50/0 to-50%"
          ></div>
          <span
            class="absolute bottom-5 right-5 text-xl font-semibold text-neutral-50"
            >R$ 20,00</span
          >
        </div>
        <div>
          <p class="text-md mb-2 mt-6 leading-5">Papel toalha Quick</p>
          <p class="text-sm leading-5 text-zinc-600">
            Embalagem econômica, alta absorção
          </p>
        </div>
      </div>

      <div>
        <div
          style="
            background-image: url('https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg');
          "
          class="relative h-96 overflow-hidden rounded-lg bg-cover bg-center lg:h-64"
        >
          <div
            class="h-full w-full bg-gradient-to-t from-neutral-800/60 from-0% via-neutral-600/20 via-20% to-neutral-50/0 to-50%"
          ></div>
          <span
            class="absolute bottom-5 right-5 text-xl font-semibold text-neutral-50"
            >R$ 20,00</span
          >
        </div>
        <div>
          <p class="text-md mb-2 mt-6 leading-5">Papel toalha Quick</p>
          <p class="text-sm leading-5 text-zinc-600">
            Embalagem econômica, alta absorção
          </p>
        </div>
      </div>

      <div>
        <div
          style="
            background-image: url('https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg');
          "
          class="relative h-96 overflow-hidden rounded-lg bg-cover bg-center lg:h-64"
        >
          <div
            class="h-full w-full bg-gradient-to-t from-neutral-800/60 from-0% via-neutral-600/20 via-20% to-neutral-50/0 to-50%"
          ></div>
          <span
            class="absolute bottom-5 right-5 text-xl font-semibold text-neutral-50"
            >R$ 20,00</span
          >
        </div>
        <div>
          <p class="text-md mb-2 mt-6 leading-5">Papel toalha Quick</p>
          <p class="text-sm leading-5 text-zinc-600">
            Embalagem econômica, alta absorção
          </p>
        </div>
      </div>

      <div>
        <div
          style="
            background-image: url('https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg');
          "
          class="relative h-96 overflow-hidden rounded-lg bg-cover bg-center lg:h-64"
        >
          <div
            class="h-full w-full bg-gradient-to-t from-neutral-800/60 from-0% via-neutral-600/20 via-20% to-neutral-50/0 to-50%"
          ></div>
          <span
            class="absolute bottom-5 right-5 text-xl font-semibold text-neutral-50"
            >R$ 20,00</span
          >
        </div>
        <div>
          <p class="text-md mb-2 mt-6 leading-5">Papel toalha Quick</p>
          <p class="text-sm leading-5 text-zinc-600">
            Embalagem econômica, alta absorção
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
