<div class  = "mx-8 p-2">
    <img class="h-32 w-32 m-4" ngSrc="../../../assets/brand/logo-principal-cortada.png" alt="Personal Cleaner" height="32" width="32">

    <div class="columns-1" id="infoColumn" >
        <div>
            <h2 class="font-bold text-gray-900 dark:text-gray-100">Navegação</h2>
            <a class = "text-gray-700 dark:text-gray-300 dark:hover:text-white" href="">Home</a><br>
            <a class = "text-gray-700 dark:text-gray-300 dark:hover:text-white" href="about-us">Sobre Nós</a><br>
            <a class = "text-gray-700 dark:text-gray-300 dark:hover:text-white" href="contact-us">Contato</a><br>
            <a class = "text-gray-700 dark:text-gray-300 dark:hover:text-white" href="schedule-your-appointment">Agendamento</a>
            
        </div>
    </div>

    <hr class="my-4 border-t border-gray-300">
    
    <div>
        <h2 class="font-bold text-gray-900 dark:text-gray-100"> Inscreva-se na nossa Newsletter</h2>
        <p class=" text-gray-700 dark:text-gray-300"> As últimas notícias, artigos, e recursos, enviados para seu email semanalmente.</p>
            <div class= "flex justify-center">
                <input type="text" class="font-normal dark:font-medium dark:text-white focus:ring-2 focus:border-[#2B80BB] rounded-lg bg-white dark:bg-gray-800 p-2 mt-2 w-80" placeholder="Insira seu email">
            </div>
            <div class= "flex justify-center">
            <button class="font-bold rounded-lg bg-[#2B80BB] text-white py-2 px-4 mt-2 w-80 hover:scale-105">Inscreva-se</button>
        </div>
    </div>

    <hr class="my-4 border-t border-gray-300">

    <div class="flex justify-center">
        <a href="https://www.linkedin.com/in/claudio-vilela-aguiar/?originalSubdomain=br/" target="_blank">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7 hover:fill-[#206597]"
                fill="currentColor"
                style="color: #2B80BB"
                viewBox="0 0 24 24">
                <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
            </svg>
        </a>
    </div>

    <div class="pb-16 pt-12 px-6 text-neutral-400">
        <p class="text-center">Copyright © {{ year }} Personal Cleaner. Todos os direitos reservados.</p>
        <a href="https://compras.dados.gov.br/fornecedores/doc/fornecedor_pj/06271327000184">
          <p class="text-center">CNPJ: <span id="cnpj">06.271.327/0001-84</span></p>
        </a>
    </div>

</div>