<footer>
  <div
    class="mx-auto max-w-7xl divide-y divide-gray-200 px-4 dark:divide-slate-700 sm:px-6 lg:px-8"
  >
    <!--  primeira parte  -->
    <div class="flex flex-col justify-between gap-16 py-16 sm:flex-row">
      <img
        class="h-12 w-12"
        ngSrc="/app/assets/images/logo.svg"
        alt="Personal Cleaner Logo"
        height="32"
        width="32"
      />

      <div class="flex w-40 flex-col gap-4">
        <h2 class="mb-2 text-sm font-bold text-gray-900 dark:text-gray-100">
          Navegação
        </h2>

        @for (route of routes; track route.id) {
          <a
            class="text-sm text-gray-700 hover:text-black dark:text-gray-300 dark:hover:text-white"
            [routerLink]="route.path"
          >
            {{ route.name }}
          </a>
        }
      </div>
    </div>

    <!--  segunda parte  -->
    <div
      class="flex flex-col flex-wrap items-stretch justify-between gap-6 py-8 sm:flex-row md:items-center"
    >
      <div>
        <h2 class="font-bold text-gray-900 dark:text-gray-100 lg:text-left">
          Inscreva-se na nossa Newsletter!
        </h2>
        <p class="mt-3 text-sm text-gray-700 dark:text-gray-300 lg:text-left">
          As últimas notícias, artigos, e recursos, enviados para seu email
          semanalmente.
        </p>
      </div>

      <div class="flex flex-col gap-4 sm:flex-row md:py-0">
        <input
          type="email"
          class="h-9 rounded-md bg-white p-2 focus:ring-indigo-600 dark:bg-gray-800 dark:text-white"
          placeholder="Insira seu email"
        />
        <button
          class="h-9 transform-gpu rounded-md bg-indigo-600 p-2 text-sm font-bold text-white transition hover:shadow-2xl hover:sm:scale-110"
        >
          Inscreva-se
        </button>
      </div>
    </div>

    <!--  terceira parte  -->
    <div
      class="flex flex-col flex-wrap items-stretch justify-between gap-6 py-8 md:flex-row-reverse md:items-center"
    >
      <div class="flex items-center justify-start gap-2">
        @for (socialMedia of socialMedias; track socialMedia.id) {
          <a [href]="socialMedia.link" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 hover:fill-[{{ socialMedia.color }}] fill-gray-600"
              viewBox="0 0 24 24"
            >
              <path
                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
              />
            </svg>
          </a>
        }
      </div>

      <div>
        <p class="text-xs text-gray-600">
          Copyright © {{ year }} Personal Cleaner. Todos os direitos
          reservados.
        </p>
        <p class="text-gray-600">
          <a
            class="text-xs"
            href="https://compras.dados.gov.br/fornecedores/doc/fornecedor_pj/06271327000184"
            target="_blank"
          >
            CNPJ: <span class="text-xs">06.271.327/0001-84</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
