<section class="my-10 px-4 py-12 sm:px-6 lg:px-8 mx-auto lg:max-w-7xl">
  <h2 class="pb-5 text-base font-semibold dark:text-white">Last 30 Days</h2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
    <div
      class="flex flex-col gap-4 rounded-lg bg-white p-6 pt-5 shadow-md dark:bg-gray-800"
    >
      <div class="flex gap-4">
        <div
          class="flex rounded-lg bg-indigo-500 p-3 text-white dark:text-gray-800"
        >
          <span class="material-symbols-outlined my-1"> group </span>
        </div>

        <div class="flex flex-col gap-1">
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">Clientes</p>
          </div>
          <div>
            <p class="text-2xl font-semibold dark:text-white">130</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-4 rounded-lg bg-white p-4 pt-5 shadow-md dark:bg-gray-800"
    >
      <div class="flex gap-4">
        <div class="rounded-lg bg-indigo-500 p-3 text-white dark:text-gray-800">
          <span class="material-symbols-outlined my-1"> map </span>
        </div>

        <div class="flex flex-col gap-1">
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Áreas atendidas
            </p>
          </div>
          <div>
            <p class="text-2xl font-semibold dark:text-white">580</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-4 rounded-lg bg-white p-4 pt-5 shadow-md dark:bg-gray-800"
    >
      <div class="flex gap-4">
        <div class="rounded-lg bg-indigo-500 p-3 text-white dark:text-gray-800">
          <span class="material-symbols-outlined my-1"> work </span>
        </div>

        <div class="flex flex-col gap-1">
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Anos de experiência
            </p>
          </div>
          <div>
            <p class="text-2xl font-semibold dark:text-white">4</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-4 rounded-lg bg-white p-4 pt-5 shadow-md dark:bg-gray-800"
    >
      <div class="flex gap-4">
        <div class="rounded-lg bg-indigo-500 p-3">
          <span
            class="material-symbols-outlined my-1 text-white dark:text-gray-800"
          >
            school
          </span>
        </div>

        <div class="flex flex-col gap-1">
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Alunos formados
            </p>
          </div>
          <div>
            <p class="text-2xl font-semibold dark:text-white">102</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
