<app-navigation></app-navigation>
<main>
  <div class="grid border-black md:grid-cols-2">
    <div
      style="background-image: url(../../../assets/office-work3.png)"
      class="h-48 bg-cover bg-center bg-no-repeat md:order-1 md:h-full"
    ></div>
    <div class="isolate mx-auto max-w-xl px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-neutral-50"
        >
          Agende uma visita
        </h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">
          Entre em contato e iremos atender sua empresa da melhor forma
          possível!
        </p>
      </div>

      <form action="#" method="POST" class="mt-16 sm:mt-20">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <!-- First Name -->
          <div>
            <label
              for="first-name"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >First name</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              />
            </div>
          </div>

          <!-- Last Name -->
          <div>
            <label
              for="last-name"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >Last name</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="last-name"
                id="last-name"
                autocomplete="family-name"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              />
            </div>
          </div>

          <!-- Company -->
          <div class="sm:col-span-2">
            <label
              for="company"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >Empresa</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="company"
                id="company"
                autocomplete="organization"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              />
            </div>
          </div>

          <!-- Email -->
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >Email</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              />
            </div>
          </div>

          <!-- Phone -->
          <div class="sm:col-span-2">
            <label
              for="phone-number"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >Telefone</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              />
            </div>
          </div>

          <!-- Region -->
          <div class="sm:col-span-2">
            <label
              for="country"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >Região</label
            >
            <div class="mt-2.5">
              <select
                id="country"
                name="country"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              >
                <option value="Zona Norte (RJ)">
                  Zona Norte (Rio de Janeiro)
                </option>
                <option value="Zona Sul (RJ)">Zona Sul (Rio de Janeiro)</option>
                <option value="Zona Leste (RJ)">
                  Zona Leste (Rio de Janeiro)
                </option>
                <option value="Zona Oeste (RJ)">
                  Zona Oeste (Rio de Janeiro)
                </option>
                <option value="Outros (RJ)">Outros (Rio de Janeiro)</option>
                <option value="Outros">Outros</option>
              </select>
            </div>
          </div>

          <!-- Message -->
          <div class="sm:col-span-2">
            <label
              for="message"
              class="block text-sm font-semibold leading-6 text-gray-900 dark:text-neutral-50"
              >Como podemos lhe ajudar? Por favor descreva também sua
              empresa!</label
            >
            <div class="mt-2.5">
              <textarea
                name="message"
                id="message"
                rows="4"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:text-neutral-50"
              ></textarea>
            </div>
          </div>

          <!-- Checkbox -->
          <fieldset class="mt-2.5 sm:col-span-2 dark:text-neutral-50">
            <legend class="text-sm font-semibold leading-6">
              Qual serviços está desejando no seu orçamento?
            </legend>

            <div>
              <input
                type="checkbox"
                id="tecnical"
                name="tecnical"
                class="my-4 me-2 rounded-full text-sm"
              />
              <label for="tecnical">Assistência Técnica</label>
            </div>

            <div>
              <input
                type="checkbox"
                id="trainment"
                name="trainment"
                class="my-4 me-2 rounded-full text-sm"
              />
              <label for="trainment">Treinamento</label>
            </div>

            <div>
              <input
                type="checkbox"
                id="equipments"
                name="equipments"
                class="my-4 me-2 rounded-full text-sm"
              />
              <label for="equipments">Equipamentos</label>
            </div>

            <div>
              <input
                type="checkbox"
                id="products"
                name="products"
                class="my-4 me-2 rounded-full text-sm"
              />
              <label for="products">Produtos</label>
            </div>
          </fieldset>
        </div>
        <div class="mt-10 divide-y divide-solid divide-neutral-200">
          <div></div>
          <div class="pt-10">
            <button
              type="submit"
              class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Vamos Conversar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<app-footer></app-footer>
