<main>
    <section>
        <h2>Saiba o que é o <span class="required">Personal Cleaner</span>, entenda nossos objetivos!</h2>
            
        <div class="textContentArea">
            <p class="textContent"> Nosso empreendimento é pequeno porém isso não é um problema visto que somos bastante eficientes e procuramos atender da forma mais humana e pessoal possível.
            <br><br>
                Com atendimento pessoal e uma gama de produtos em estoque conseguimos personalizar a venda para cada cliente.</p>
        </div>
            
        <div class="imageContentArea">
            <img ngSrc="/assets/aboutUsPage/Calculadora.png"  height="600" width="800" id="calculadora" alt="Imagem de calculadora">
        </div>
            
        <div class="textContentArea">
            <p class="textContent"> Nossos orçamentos buscam visar a melhor economia para o cliente sofrendo cálculos meticulosos quanto ao tamanho da área a ser higiênizada, tipos de utencílios a serem limpos e também trabalhamos com itens de diversos tamanhos variando de 5 à 50 litros assim também ajudamos os clientes a fim de corresponder a falta de área destinada ao estoque do cliente.</p>
        </div>
        <br>
        <div id="buttonArea">
            <button type="button">Solicitar Orçamento</button>
        </div>
    </section>
        
    <section>
        <div class="imageContentArea">
            <img ngSrc="/assets/aboutUsPage/Bússola.png" height="600" width="800" alt="Imagem de bússola" id="bussola">
        </div>
        
        <h2>Qual é o nosso <span class="required">norte</span>?</h2>
            
        <div class="imageContentArea">
            <p class="textContent" ><span class="required">Missão:</span> Oferecer soluções de limpeza de cozinha de qualidade, segurança e eficiência, garantindo a satisfação dos clientes e a preservação do meio ambiente.
                <br><br><span class="required">Visão:</span> Ser reconhecidacomo uma empresa líder em limpeza de cozinha, com excelência no atendimento, na inovação e na responsabilidade social.
                <br><br><span class="required">Valores:</span> Compromisso com os clientes, com os colaboradores e com a sociedade; ética, transparência e respeito nas relações; qualidade, segurança e sustentabilidade nos serviços; melhoria contínua, criatividade e aprendizagem organizacional.</p>
        </div>
    </section>
</main>