<main>
  @for (arrayStep of arraySteps; track arrayStep.id) {
  <section class="m-auto my-12 max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="mx-2 md:mx-10">
      <div class="flex flex-col dark:text-neutral-50">
        <div class="flex">
          <div class="mx-1 mb-2 mt-2.5 h-1.5 w-1.5 rounded-full bg-indigo-600"></div>
          <h2 class="font-bold text-indigo-600">{{ arrayStep.title }}</h2>
        </div>
        <div class="flex items-stretch">
          <div class="mx-1.5 w-0.5 bg-gray-300"></div>
          @for (section of arrayStep.section; track section.id) {
          <div>
            <span class="font-semibold">{{ section.subtitle }}</span>
            <ul class="mb-8 ms-6 list-disc">
              @for (item of section.items; track item.id) {
              <li>{{ item.part }}</li>
              }
            </ul>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
  }
</main>
