<div class="bg-neutral-950 text-neutral-50">
  <div class="w-screen m-auto">
    <h2 class="text-2xl w-64 mx-auto py-12 leading-none text-center">
      Os produtos da <span class="text-[#2B80BB]">Personal Cleaner</span> podem ser destinados a que tipos de uso?
    </h2>
    <section class="text-center px-4 max-w-lg mx-auto">
      <p>
        Nossos serviços são desenvolvidos e selecionados para buscar a melhor higiênização possível para atender cozinhas industriais.
      </p>
      <p class="my-4">
        Contamos com certificações de qualidade de mercado. Comprovando a eficácia dos mesmos.
      </p>
    </section>
    <div>
      <img ngSrc="../../../assets/img-cozinha-no-inner-shadow.png" alt="foto de cozinha limpa" width="450" height="350" class="mx-auto">
    </div>
    <section class="text-center px-4 max-w-lg mx-auto">
      <p class="mt-4">
        Nossos produtos são próprios para higiênização de cozinhas conseguindo alcançar altas taxas de eliminação de bactérias sendo ideais para esterilizar ambientes.
      </p>
      <p class="my-4">
        Além disso temos produtos de diverços tamanhos a fim de personalizar o atendimento, consequentemente os custos são equivalentes ao tamanho do seu negócio.
      </p>
      <div class="my-12">
        <a href="/src/app/pages/appointment/appointment.component.html" class="bg-[#2B80BB] py-3 rounded-2xl my-4 px-16">Solicitar Orçamento</a>
      </div>
    </section>
    <section class="text-center px-4 max-w-lg mx-auto pb-4">
      <p class="my-4">
        Por fim contamos com produtos concentrados isso ajuda na diminuição de necessedade de estoques muito grandes. E indiretamente gera economia e mais possibilidade aos clientes quanto a eficiencia do seu negócio.
      </p>
    </section>
  </div>
</div>