<div class="bg-neutral-950 text-neutral-50">
  <div class="m-auto w-screen">
    <h2 class="mx-auto w-64 py-12 text-center text-2xl leading-none">
      Os produtos da <span class="text-[#2B80BB]">Personal Cleaner</span> podem
      ser destinados a que tipos de uso?
    </h2>
    <section class="mx-auto max-w-lg px-4 text-center">
      <p>
        Nossos serviços são desenvolvidos e selecionados para buscar a melhor
        higiênização possível para atender cozinhas industriais.
      </p>
      <p class="my-4">
        Contamos com certificações de qualidade de mercado. Comprovando a
        eficácia dos mesmos.
      </p>
    </section>
    <div>
      <img
        ngSrc="../../../assets/img-cozinha-no-inner-shadow.png"
        alt="foto de cozinha limpa"
        width="450"
        height="350"
        class="mx-auto"
      />
    </div>
    <section class="mx-auto max-w-lg px-4 text-center">
      <p class="mt-4">
        Nossos produtos são próprios para higiênização de cozinhas conseguindo
        alcançar altas taxas de eliminação de bactérias sendo ideais para
        esterilizar ambientes.
      </p>
      <p class="my-4">
        Além disso temos produtos de diverços tamanhos a fim de personalizar o
        atendimento, consequentemente os custos são equivalentes ao tamanho do
        seu negócio.
      </p>
      <div class="my-12">
        <a
          href="/src/app/pages/appointment/appointment.component.html"
          class="my-4 rounded-2xl bg-[#2B80BB] px-16 py-3"
        >
          Solicitar Orçamento
        </a>
      </div>
    </section>
    <section class="mx-auto max-w-lg px-4 pb-4 text-center">
      <p class="my-4">
        Por fim contamos com produtos concentrados isso ajuda na diminuição de
        necessedade de estoques muito grandes. E indiretamente gera economia e
        mais possibilidade aos clientes quanto a eficiencia do seu negócio.
      </p>
    </section>
  </div>
</div>
;
