<section
  class="m-8 mx-auto max-w-5xl divide-y divide-gray-200 px-6 py-6 text-black dark:divide-gray-700 dark:text-gray-300 lg:px-8"
>
  <!--divide-y e divide-zinc-300 aplica em todos os filhos uma linha de divizão entre elas na parte inferior e estiliza a cor dessa linha-->
  <div class="mb-12 flex justify-start font-semibold">
    <span class="text-2xl leading-10 dark:text-white">
      Frequently Asked Questions
    </span>
  </div>
  @for (faq of faqs; track faq.id) {
    <div>
      <div class="mb-3 mt-6 flex place-content-between">
        <p class="text-lg font-semibold dark:text-white">
          {{ faq.question }}
        </p>
        <button
          (click)="toggleDescription(faq.id)"
          class="inline-block w-max cursor-pointer pl-3"
        >
          <div
            class="w-[1.50px] h-3 rounded bg-black dark:bg-white relative left-[5.256px] bottom-[-6.69px] duration-300 transform-gpu transition-transform{{
              faq.isOpen ? ' rotate-90' : ''
            }}"
          ></div>
          <div
            class="w-3 h-[1.50px] rounded bg-black dark:bg-white duration-500 transform-gpu transition-transform{{
              faq.isOpen ? ' rotate-180' : ''
            }}"
          ></div>
        </button>
      </div>
      <div class="transform {{ faq.isOpen ? 'block' : 'hidden' }}">
        <p class="mb-6 mr-7 font-normal" id="faq1">
          {{ faq.answer }}
        </p>
      </div>
    </div>
  }
</section>
