<section class="divide-y divide-zinc-300 bg-neutral-50 dark:text-white px-6 py-6 m-8 md:w-[48rem] md:mx-auto"><!--divide-y e divide-zinc-300 aplica em todos os filhos uma linha de divizão entre elas na parte inferior e estiliza a cor dessa linha-->
  <div class="flex justify-start font-semibold">
    <span class="text-2xl">Frequently Asked Questions</span>
  </div>
  <div>
    <div class="flex place-content-between mt-4">
      <p>faq works!</p>
        <button onclick="myFunction(this)" class="inline-block cursor-pointer w-max">
          <div class="w-0.5 h-6 rounded my-1.5 dark:bg-white relative bottom"></div>
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
        </button>
    </div>
    <div>
      <p class="mt-2" id="faq1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore animi voluptatum praesentium cupiditate exercitationem! Perferendis pariatur ipsam saepe deleniti. Doloremque consequatur hic ab itaque ipsa nihil expedita, inventore perspiciatis nostrum?</p>
    </div>
  </div>
  <div>
    <div class="flex place-content-between mt-4">
      <p>faq works!</p>
        <button onclick="myFunction(this)" class="inline-block cursor-pointer w-max">
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
        </button>
    </div>
    <div>
      <p class="mt-2" id="faq2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, pariatur voluptates. Dolore nostrum beatae inventore quibusdam iusto tenetur nobis perferendis magnam libero nulla vel, sint ducimus voluptatibus eius quam ipsam!</p>
    </div>
  </div>
  <div>
    <div class="flex place-content-between mt-4">
      <p>faq works!</p>
        <button onclick="myFunction(this)" class="inline-block cursor-pointer w-max">
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
        </button>
    </div>
    <div>
      <p class="mt-2" id="faq3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores omnis sequi neque, quos architecto impedit necessitatibus commodi voluptates suscipit, nulla accusamus delectus cupiditate expedita facere quibusdam, aliquam fuga culpa! Nam?</p>
    </div>
  </div>
  <div>
    <div class="flex place-content-between mt-4">
      <p>faq works!</p>
        <button onclick="myFunction(this)" class="inline-block cursor-pointer w-max">
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
          <div class="w-6 h-0.5 rounded my-1.5 dark:bg-white"></div>
        </button>
    </div>
    <div>
      <p class="mt-2" id="faq4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, dignissimos autem ea temporibus in, beatae, et non voluptates corporis qui repellendus quibusdam nulla a asperiores! Nemo, odio? Repudiandae, minus assumenda.</p>
    </div>
  </div>
</section>
